@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

.footer {
    font-family: 'Zen Loop', cursive;
    position: relative;
    padding-top:5px;
    height: 30px;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color:#282c34;
}

.footer {
    position: relative;
  }