@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.site-drawer-render-in-current-wrapper {
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #fafafa;
    border: 1px solid #b7cdee;
    border-radius: 2px;
    height: 100%;
  }

.map {
    position: absolute;
}

.header {
  font-family: 'Satisfy', cursive;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: rgb(2, 2, 2);
  height: inherit;
  background-color: #bcddf0;
  /*box-shadow: rgb(220, 220, 220) 0px 2px 10px;*/
  
}

.title {
  height: 60px;
  position: relative;
  color: rgb(2, 2, 2);
  font-size: 35px;
  font-weight: bold;
  margin-bottom: -15px;
}

.login-button {
 font-family: 'Yanone Kaffeesatz', sans-serif;
 width: 200px;
 margin-right: 50px;
 display: flex;
 justify-content: space-between;
}

.welcome {
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
