p{
    text-align: left;
}

h2{
    text-align: left;
}

.route-position{
    position: absolute;
    z-index: 10;
    margin-top: 10px;
    margin-right: 50px;
    padding: 10px 10px 10px 20px;
    text-align: right;
    height: auto;
    width: 100%
}

.route-title{
    font-size: medium;
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.route-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
