p{
    text-align: left;
}

h2{
    text-align: left;
}

.route-drawer {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.route-position{
    position: absolute;
    z-index: 10;
    margin-top: 10px;
    margin-right: 50px;
    padding: 10px 10px 10px 20px;
    text-align: right;
    height: auto;
    width: 100%
}

.route-title{
    font-size: medium;
    font-weight: bold;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.route-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
}

.poi-list {
    text-align: left;
}

.poi-item {
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
}
