.search-result {
    position: relative;
    z-index: 9;
    margin: 10px 10px 10px 20px;
    padding: 10px 10px 10px 20px;
    text-align: left;
}
.search-card div div{
    max-height: 50px;
    max-width: 100%;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;  
    white-space: normal; 
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
}